<a href="https://colab.research.google.com/github/fairytale42/practice-note/blob/main/%EA%B7%B8%EB%83%A5_%EC%97%B0%EC%8A%B5%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

이건 그냥 연습장이다.
=====================

이건 그냥 낙서다.
---------------------

#우리는 기아타이거즈
##뜨거운 열정으로 하나돼
###최강 기아 타이거즈여
####1번 타자 박찬호
#####2번 타자 김도영
######3번 타자 나성범


> 4번 타자 최형우
> > 5번 타자 테스형
> > > 6번 타자 김선빈

* 7번 타자 이우성
   - 8번 타자 한준수
      + 9번 타자 최원준

* * *
*********
- - -
------

[뷰티풀너드 *youtube*](https://www.youtube.com/@beautifulnerd)
- - -
[갸티비 by KIA Tigers *youtube*](https://www.youtube.com/@kiatigerstv)
* * *
[OHTANI SHOHEI *instagram*](https://www.instagram.com/shoheiohtani/)

*원형서 그는 신이야*    
_원형서 그는 신이야_   
**원형서 그는 신이야**
__원형서 그는 신이야__   

~~OHTANI is a god~~

In [ ]:
import re

text = "hyeongseo, uho, seongwoo, bosung, hyeongwoo"
pattern = r"hyeong..."

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: hyeongseo
Match: hyeongwoo

In [ ]:
str_data = "I love SHOHEI"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])
print(str_data[11])
print(str_data[12])

I

l
o
v
e

S
H
O
H
E
I

In [ ]:
str_data = "I love JHL?"
print(str_data)

print(str_data[-1])
print(str_data[-2])
print(str_data[-3])
print(str_data[-4])
print(str_data[-5])
print(str_data[-6])
print(str_data[-7])
print(str_data[-8])
print(str_data[-9])
print(str_data[-10])
print(str_data[-11])

I love JHL?
?
L
H
J

e
v
o
l

I

In [ ]:
str =  """she said, "time is money!"
"""

print(str[0])
print(str[1])
print(str[6])
print(str[11])
print(str[24])

she said, "time is money!"

s
h
i
t
!

In [ ]:
x = 42
y = 47

if x>y:
  print('x is greater than y')

else:
  print('x is smaller than or equal y')

x is smaller than y